<div class="dialogues__chats-list-peoples">
    {% for element in site.data.dialogues-list.data %}
    <a href="#link-to-msg">
        <div
            class="dialogues__chats-list-people {% if element.read == 0 %}dialogues__chats-list-people--focus{% endif %}">
            <div class="dialogues__chats-list-people-img"><img src="{{ element.src }}" alt=""></div>
            <div class="dialogues__chats-list-people-name-and-msg">
                <div class="dialogues__chats-list-people-name">{{ element.name }}</div>
                <div class="dialogues__chats-list-people-msg">{{ element.msg }}</div>
            </div>
            <span class="dialogues__chats-list-people-time">{{ element.time }}</span>
            {% if element.number %}<span
                class="dialogues__chats-list-people-number">{{ element.number }}</span>{% endif %}
        </div>
    </a>
    {% endfor %}
</div>