.chat__header
{
    width: calc(100% - 16px - 16px);
    height: calc(50px - 8px - 8px);
    padding: 8px 16px;

    background-color: #4d75a3;
}

.chat__header-img-link
{
    display: block;
    float: left;

    height: 100%;
}

.chat__header-img-link > img
{
    height: 100%;

    border-radius: 50%;
}

.chat__header-name
{
    display: flex;
    float: left;

    height: 100%;
    margin-left: 8px;

    text-decoration: none;

    color: white;

    align-items: center;
}

.chat__header-online
{
    font-size: .5em;

    display: flex!important;
    float: left;

    height: 100%;
    margin-left: 8px;

    color: white;

    align-items: center;
}

.chat__header-button
{
    display: flex!important;
    float: right;

    height: 100%;
    margin-left: 15px;

    text-decoration: none;

    color: white;

    align-items: center;
}
