<!-- people-to-follow ===== ===== ===== -->
<div class="people-to-follow">
    <div class="people-to-follow__content">

        <header class="people-to-follow__header">
            <span class="people-to-follow__header-name">People to Follow</span>
        </header>

        <!-- people-to-follow__people -->
        <div class="people-to-follow__people">
            <div class="people-to-follow__people-img">
                <a href="#link-to-img"><img src="./uploads/img/profile/1.jpg" alt=""></a>
                <i class="fas fa-circle"></i>
            </div>
            <div class="people-to-follow__people-info">
                <div class="people-to-follow__people-name">
                    <a href="#link-to-profile-n">Alex Wayne</a>
                    <i class="fas fa-mobile-alt"></i>
                </div>
                <div class="people-to-follow__people-script">
                    <span>Artist</span>
                </div>
            </div>
            <div class="people-to-follow__people-button">
                <a href="#link-add-follow">+ Add</a>
            </div>
        </div><!-- /people-to-follow__people -->
        <div class="people-to-follow__people">
            <div class="people-to-follow__people-img">
                <a href="#link-to-img"><img src="./uploads/img/profile/2.jpg" alt=""></a>
                <i class="fas fa-circle"></i>
            </div>
            <div class="people-to-follow__people-info">
                <div class="people-to-follow__people-name">
                    <a href="#link-to-profile-n">David Vane</a>
                </div>
                <div class="people-to-follow__people-script">
                    <span>Out of town</span>
                </div>
            </div>
            <div class="people-to-follow__people-button">
                <a href="#link-add-follow">+ Add</a>
            </div>
        </div><!-- /people-to-follow__people -->
        <div class="people-to-follow__people">
            <div class="people-to-follow__people-img">
                <a href="#link-to-img"><img src="./uploads/img/profile/3.jpg" alt=""></a>
            </div>
            <div class="people-to-follow__people-info">
                <div class="people-to-follow__people-name">
                    <a href="#link-to-profile-n">Kevin Ertan</a>
                </div>
                <div class="people-to-follow__people-script">
                    <span>Don't sleep</span>
                </div>
            </div>
            <div class="people-to-follow__people-button">
                <a href="#link-add-follow">+ Add</a>
            </div>
        </div><!-- /people-to-follow__people -->
        <div class="people-to-follow__people">
            <div class="people-to-follow__people-img">
                <a href="#link-to-img"><img src="./uploads/img/profile/4.jpg" alt=""></a>
                <i class="fas fa-circle"></i>
            </div>
            <div class="people-to-follow__people-info">
                <div class="people-to-follow__people-name">
                    <a href="#link-to-profile-n">Jane Doe</a>
                    <i class="fas fa-mobile-alt"></i>
                </div>
                <div class="people-to-follow__people-script">
                    <span>Artist</span>
                </div>
            </div>
            <div class="people-to-follow__people-button">
                <a href="#link-add-follow">+ Add</a>
            </div>
        </div><!-- /people-to-follow__people -->
        <div class="people-to-follow__people">
            <div class="people-to-follow__people-img">
                <a href="#link-to-img"><img src="./uploads/img/profile/5.jpg" alt=""></a>
            </div>
            <div class="people-to-follow__people-info">
                <div class="people-to-follow__people-name">
                    <a href="#link-to-profile-n">Alexsandr Wilk</a>
                </div>
                <div class="people-to-follow__people-script">
                    <span>Stay Hungry</span>
                </div>
            </div>
            <div class="people-to-follow__people-button">
                <a href="#link-add-follow">+ Add</a>
            </div>
        </div><!-- /people-to-follow__people -->
        <div class="people-to-follow__people">
            <div class="people-to-follow__people-img">
                <a href="#link-to-img"><img src="./uploads/img/profile/1.jpg" alt=""></a>
                <i class="fas fa-circle"></i>
            </div>
            <div class="people-to-follow__people-info">
                <div class="people-to-follow__people-name">
                    <a href="#link-to-profile-n">Alex Wayne</a>
                    <i class="fas fa-mobile-alt"></i>
                </div>
                <div class="people-to-follow__people-script">
                    <span>Artist</span>
                </div>
            </div>
            <div class="people-to-follow__people-button">
                <a href="#link-add-follow">+ Add</a>
            </div>
        </div><!-- /people-to-follow__people -->
    </div><!-- /people-to-follow__content -->

    <footer class="people-to-follow__footer">
        <a class="people-to-follow__footer-link" href="#link-show-more-follow">
            SHOW 10 MORE <i class="fas fa-caret-down"></i>
        </a>
    </footer>
</div><!-- /people-to-follow -->