<div class="profile">
    <div class="profile__container">

        <div class="profile__b-img">
            <a href="#"><img src="{{ site.baseurl }}/imgs/profile/0.jpg" alt=""></a>
        </div>

        <div class="profile__b-info">
            <div class="profile__name">
                <a href="#" class="profile__name-name">John Doe</a>
                <a href="#" class="profile__name-check fas fa-check"></a>
            </div>
            <div class="profile__status">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, vero.
            </div>
        </div>

        <div class="profile__b-menu">
            <ul>
                <li>
                    <a href="#">
                        <span class="profile__menu-numbers">1121</span><span class="profile__menu-text">Followers</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="profile__menu-numbers">5,356</span><span
                            class="profile__menu-text">Following</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="profile__menu-numbers">502</span><span class="profile__menu-text">Photos</span>
                    </a>
                </li>
                <li>
                    <a href="#"><span class="profile__menu-numbers">789</span><span
                            class="profile__menu-text">Videos</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="profile__b-buttons">
            <a href="#">Send Message</a>
            <a href="#" class="profile__b-buttons--hover">Add Friend</a>
        </div>

    </div>
</div>