<!-- profile ===== ===== ===== -->
<div class="profile container">
    <div class="profile__container">

        <!-- profile__b-img -->
        <div class="profile__b-img">
            <a href="#link-to-profile"><img src="./uploads/img/profile/0.jpg" alt=""></a>
        </div><!-- /profile__b-img -->

        <!-- profile__b-info -->
        <div class="profile__b-info">
            <div class="profile__name">
                <a class="profile__name-name" href="#link-to-profile">John Doe</a>
                <a class="profile__name-check fas fa-check" href="#link-to-check"></a>
            </div>
            <div class="profile__status">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, vero.
            </div>
        </div><!-- /profile__b-info -->

        <!-- profile__b-menu -->
        <div class="profile__b-menu">
            <ul>
                <li><a href="#link-to-followers"><span class="profile__menu-numbers">1121</span><span class="profile__menu-text">Followers</span></a></li>
                <li><a href="#link-to-following"><span class="profile__menu-numbers">5,356</span><span class="profile__menu-text">Following</span></a></li>
                <li><a href="#link-to-photos"><span class="profile__menu-numbers">502</span><span class="profile__menu-text">Photos</span></a></li>
                <li><a href="#link-to-videos"><span class="profile__menu-numbers">789</span><span class="profile__menu-text">Videos</span></a></li>
            </ul>
        </div><!-- /profile__b-menu -->

        <!-- profile__b-buttons -->
        <div class="profile__b-buttons">
            <a href="#link-to-msg">Send Message</a>
            <a href="#link-to-friends">Add Friend</a>
        </div><!-- /profile__b-buttons -->

    </div><!-- /profile__container -->
</div><!-- /profile ===== ===== ===== -->