{% for element in site.data.people-to-follow.data %}
<div class="people-to-follow__people">

        <div class="people-to-follow__people-img">
            <a href="{{ element.people-img.url }}">
                <img src="{{ element.people-img.src }}" alt="" />
            </a>
            {% if element.online == 1 %}<i class="fas fa-circle"></i>{% endif %}
        </div>

        <div class="people-to-follow__people-info">
            <div class="people-to-follow__people-name">
                <a href="{{ element.profile-link }}">{{ element.name }}</a>
                {% if element.mobile == 1 %}<i class="fas fa-mobile-alt"></i>{% endif %}
            </div>
            <div class="people-to-follow__people-script">
                <span>{{ element.status }}</span>
            </div>
        </div>

        <div class="people-to-follow__people-button">
            <a href="{{ element.link-add-follow }}">+ Add</a>
        </div>

    </div>
{% endfor %}