<header class="dialogues__messages-header">
    <div class="dialogues__messages-header-b-img-and-name">
        <div class="dialogues__messages-header-b-img">
            <a href="#"><img src="{{ site.baseurl }}/imgs/profile/1.jpg" alt="" /></a>
        </div>
        <div class="dialogues__messages-header-b-name-and-online">
            <div class="dialogues__messages-header-b-name"><a href="#">Alex Wayne</a></div>
            <div class="dialogues__messages-header-b-online"><i class="fas fa-mobile-alt"></i> Online</div>
        </div>
    </div>
    <div class="dialogues__messages-header-buttons">
        <a href="#"><i class="fas fa-user-plus"></i></a>
        <a href="#"><i class="fas fa-cog"></i></a>
        <a href="#"><i class="fas fa-times"></i></a>
    </div>
</header>
